.waviy {
    position: relative;
    font-size: 1.8rem;
    font-weight: 600;
  }
  .waviy span {
    font-family: "Georgia", cursive;
    position: relative;
    display: inline-block;
    color: #a71313;
    text-transform: uppercase;
    animation: waviy 3.9s infinite;
    animation-delay: calc(0.3s * var(--i));
  }
  @keyframes waviy {
    0%,
    40%,
    100% {
      transform: translateY(0);
    }
    20% {
      transform: translateY(-20px);
    }
  }
  